@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --light-pink: hsl(275, 100%, 97%);
  --grayish-purple: hsl(292, 16%, 49%);
  --dark-purple: hsl(292, 42%, 14%);

  --fw-normal: 400;
  --fw-semibold: 600;
  --fw-bold: 700;
}

/* Style reset */
::after,
*,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

img {
  /* display: block; */
  max-width: 100%;
  height: auto;
}

body {
  font-optical-sizing: auto;
  background-color: var(--light-pink);
  background-image: url(/images/background-pattern-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  overflow-x: hidden;
}

.accordion {
  width: 45em;
  margin-inline: auto;
  background-color: var(--white);
  margin-top: 10em;
  border-radius: 1em;
  position: relative;
  left: -50%;
  padding-bottom: 1em;
}

.accordion header {
  display: flex;
  align-items: center;
  padding: 2em 1em 0 1.5em;
}

header img {
  margin-inline: 1em;
}

header span {
  font-weight: 600;
  font-size: 3.4em;
  color: var(--dark-purple);
}

.items {
  list-style: none;
  padding-inline: 2.5em;
}

.item {
  margin: 1.5em 0;
  -moz-box-shadow: 0 0 50px var(--light-pink);
  -webkit-box-shadow: 0 0 50px var(--light-pink);
  box-shadow: 0 0 50px var(--light-pink);
  padding: 1em 1em;
  border-radius: 0.9em;
  cursor: pointer;
}

.question {
  display: grid;
  grid-template-columns: 7fr 0.5fr;
  grid-gap: 1em;
  align-items: center;
  padding: 0.9em 0;
}

.question span {
  font-size: 1.1em;
  color: var(--dark-purple);
  font-weight: 600;
}

.question:hover span {
  color: #ad28eb;
}

.answer {
  color: var(--grayish-purple);
  padding-bottom: 1em;
  margin-right: 1em;
  font-weight: 500;
}

@media screen and (max-width: 620px) {
  body {
    background-image: url(/images/background-pattern-mobile.svg);
  }

  .accordion {
    max-width: 22em;
    margin-left: auto;
    margin-right: auto;
  }

  .question {
    grid-template-columns: 7fr 1fr;
  }

  .items {
    padding-inline: 0em;
  }

  .item {
    border-radius: 0;
  }
}

@media screen and (min-width: 400px) {
  .accordion {
    max-width: 25em;
  }
}
@media screen and (min-width: 500px) {
  .accordion {
    max-width: 45em;
  }
}
