@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --light-pink: hsl(275, 100%, 97%);
  --grayish-purple: hsl(292, 16%, 49%);
  --dark-purple: hsl(292, 42%, 14%);

  --fw-normal: 400;
  --fw-semibold: 600;
  --fw-bold: 700;
}

/* Style reset */
::after,
*,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

img {
  /* display: block; */
  max-width: 100%;
  height: auto;
}

body {
  font-optical-sizing: auto;
  background-color: var(--light-pink);
  background-image: url(assets/images/background-pattern-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
}

.accordion {
  --max-width: 40em;
  --padding: 1rem;

  width: min(var(--max-width), 100% - var(--padding) * 1);
  margin-inline: auto;
  background-color: var(--white);
  margin-top: 15em;
  border-radius: 1em;
  position: relative;
  left: -50%;
}

.accordion header {
  display: flex;
  align-items: center;
  padding: 2em 1em 0 1.5em;
}

header img {
  margin-inline: 1em;
}

header span {
  font-weight: 600;
  font-size: 3.4em;
  color: var(--dark-purple);
}

ul {
  list-style: none;
  padding-inline: 2.5em;
}

.item {
  margin: 1.5em 0;
  -moz-box-shadow: 0 0 50px var(--light-pink);
  -webkit-box-shadow: 0 0 50px var(--light-pink);
  box-shadow: 0 0 50px var(--light-pink);
  padding: 0.5em;
  border-radius: 0.9em;
}

.question {
  display: grid;
  grid-template-columns: 5fr 0.3fr;
  align-items: center;
  padding: 1em 0;
}

.question span {
  font-size: 1.1em;
  color: var(--dark-purple);
  font-weight: 600;
}

.answer {
  font-size: 0.9em;
  color: var(--grayish-purple);
  padding-bottom: 1em;
}
